* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}
a {
  text-decoration: none;
  font-size: 30px;
  font-family: "Akaya Kanadaka";
}
.header {
  width: full;
  height: 2rem;
  font-size: 30px;
  font-family: "Akaya Kanadaka";
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.search-bar-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}
input {
  outline: none;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  border: 3px solid rgb(238, 234, 234);
  width: 320px;
  font-size: large;
  font-family: "Akaya Kanadaka";
  border-radius: 10px;
  box-shadow: 2px 1px#dbdada;
}

.movie-cards {
  margin: auto;
  width: full;
  height: 100vh;
  background-color: white;
  margin: 3rem;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  width: 380px;
  height: auto;
  border: 2px solid rgb(240, 238, 238);
  box-shadow: 2px 2px rgb(240, 238, 238);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 3rem;
  font-family: "Akaya Kanadaka";
  background: linear-gradient();
  
}

.card.is-visible {
  opacity: 1;
  transform: rotateY(-2deg);
}
.img-class {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
img {
  border-radius: 20px;
}
.content {
  padding: 15px;
  background-color: #f7f6f2;
  border: 1px;
  border-radius: 10px;
}
.movie-duration-clock {
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-duration {
  padding: 5px;
}

.movie-genre {
  margin: 5px;
}
.rating-div {
  display: flex;
  align-items: center;
}
.movie-reviews {
  margin: 5px;
}

